<ion-header translucent>
  <ion-toolbar color="tertiary">
    <ion-title>
      Pokedex App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen color="dark">
  <ion-searchbar placeholder="Buscar Pokémons" color="medium"></ion-searchbar>

  <ion-item-sliding>
    <ion-item color="dark" *ngFor="let poke of pokemon;" [routerLink]="poke.pokeIndex">
      <ion-chip slot="start">
        <ion-label color="danger">#0{{poke.index}}</ion-label>
      </ion-chip>
      <ion-label>
          <h2>{{poke.name}}</h2>
      </ion-label>
      <ion-thumbnail slot="end">
        <img [src]="poke.sprite">
      </ion-thumbnail>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option (click)="unread(item)" color="warning">Alterar</ion-item-option>
      <ion-item-option (click)="unread(item)" color="danger">Excluir</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
</ion-content>